<h1 class="text-4xl mb-4">{{ title }}</h1>
<p>{{ message }}</p>
<app-info-box
	title="Introduction"
	body="This is the introduction section which will explain some topics."
	status="danger"
></app-info-box>

<app-info-box
	title="Section 1"
	body="This will deal with the rules we have to follow on the first section."
	author="Jason"
	status="success"
></app-info-box>

<app-info-box
	title="Section 2"
	body="This will deal with the rules we have to follow on the second section."
	author="Mark"
></app-info-box>
